#forgot {
  position: absolute;
  display: none;
  top: -850px;
  left: 37vw;
  /* z-index: 1000; */
}

#forgot-form {
  position: relative;
  width: 400px;
  margin: 10px auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  z-index: 20;
  opacity: 0; 
}

.showForgotForm {
  opacity: 1;
  display: block;
  animation: popup 1s ease forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(950px);
  }
  100% {
    transform: translateY(950px);
    opacity: 1;
  }
}

.forgot-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#forgot-form h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 30px;
}

#forgot-form input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

#forgot-form label {
  display: block;
  margin: 10px 0 10px;
}

#forgot-form .btn-forgot {
  margin-top: 30px;
  border-radius: 36px;
  background: #ffdf6c;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.forgot-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
