.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
	color: #3f3f3f;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
	color: #3f3f3f;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #707070;
	padding: 10px 30px;
	display: inline-block;
	color: #ffdf6c;
	margin-top: 15px;
}
.newheader{
	margin-top: 80px;
}
