/********************** side nav *********************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav-logo {
    color: #eb002f;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1.5rem;
    &:hover {
      color: lighten(#f53c5e, 10);
    }
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #3d393950;
    }
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}

/************************* navbar *******************************/

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  padding: 0 10px;
  top: 0;
  z-index: 15;
  width: 100%;
  line-height: 30px;
  background-color: #cfd2e9;
}

.logo-container {
  display: inline-block;
  .logo {
    line-height: 30px;
    text-decoration: none;
    margin: 0 15px;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;

    &:hover {
      text-decoration: none;
      color: lighten(#ff6984, 2);
    }
  }
}

.navbar-items {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  color: #000;
  font-size: 16px;
  text-align: right;

  .user-register > div {
    display: inline-block;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.pc-view {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  margin-right: 20px;
  &:hover {
    text-decoration: none;
    color: lighten(#ff6984, 5);
  }
}
.menu-icon {
  color: #000;
  display: none;
}

.lang-dropdown {
  position: relative;
  display: inline-block;

  .lang-dropbtn {
    border: none;
    background-color: inherit;
  }

  .lang-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    span {
      padding: 12px 16px;
      display: block;
      cursor: pointer;
      text-align: center;

      &:hover {
        color: lighten(#ff6984, 5);
      }
    }
  }

  &:hover .lang-dropdown-content {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .pc-view,
  .user-register {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  .navbar-items {
    display: inline-block;
    .toggle-container {
      margin: 0;
      margin-bottom: 18px;
    }
  }
  .logo-container {
    margin: 0 auto;
  }
}

.white {
  background-color: #f6f8fa;
  border-bottom: 1px solid #eaecef;
}
/****************************** toggle switch ************************************/
.toggle-container {
  position: relative;
  top: 12px;
  display: inline-block;
  width: 45px;
  height: 25px;
  pointer-events: none;
  user-select: none;
  margin: 0 20px;
}

.toggle-container input {
  opacity: 1;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 6px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}
.slider::after {
  position: absolute;
  content: "🌞";
  height: 12px;
  width: 12px;
  right: 12px;
  bottom: 16px;
  transition: 0.2s;
  color: #fff;
  pointer-events: none;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

input:checked + .slider:after {
  content: "🌜";
  left: 2px;
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

// nav.black ul {
//   background: #202020;
// }

// nav.black li,
// nav.black a {
//   color: rgb(255, 255, 255);
// }

// nav.black .pc-view-lang {
//   color: rgb(255, 255, 255);
// }

// nav ul li {
//   display: inline-block;
//   padding: 10px 10px;
// }
// .menu-icon {
//   display: none;
// }

// .menu a {
//   text-decoration: none;
//   color: rgb(0, 0, 0);
//   font-size: 16px;
// }

// .menu .pc-view-lang {
//   color: rgb(0, 0, 0);
//   font-size: 16px;
// }

// @media screen and (max-width: 700px) {
//   .menu .pc-view {
//     float: none;
//     display: none;
//     text-align: left;
//   }
//   .menu-icon {
//     display: inline-block;
//   }
// }
/***********************************************************************************/

/* //////////////////////////////// */
/* .carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
} */
